# Compiler files
cache/

# abi
out/*
!out/RPSV1.sol
!out/RPSV1.sol/*
!out/RPSV1Factory.sol
!out/RPSV1Factory.sol/*
!out/IRPS.sol
!out/IRPS.sol/*

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
broadcast

# Docs
docs/

# Dotenv file
.env


# VSCode
.vscode